.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	.container {
		display: flex;
		flex-direction: column;
		padding: 1.5rem 1rem;
		& h5:first-of-type {
			align-self: center;
			margin-bottom: 5px;
		}
		.list {
			display: flex;
			flex-direction: column;
			gap: 10px;
			.card {
				display: flex;
				justify-content: center;
				padding: 10px 0;
			}
		}
	}
}
